.userWrapper {
  max-width: 1440px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.helloUser {
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  font-family: "Cormorant";
  font-style: italic;
  padding: 15px;
}

.content {
  padding: 30px 0;

}

@media (max-width: 576px) {
  .userWrapper {
    padding: 0;
  }
}
