.pageWrapper {
    display: flex;
    min-height: 80dvh;
}

.helloUser {
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    font-size: 40px;
    font-weight: 600;
    color: #525151ff;
    padding: 20px 40px 20px 40px;
}

.sidebar {
    width: 280px;
    background-color: #eed3b1;
    padding: 30px 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.content {
    flex: 1;
    padding: 40px;
}