.mainWrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

}


.helloUser {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    padding: 20px;
}

.content {
    min-height: 700px;
    padding: 30px 0;
    box-sizing: border-box;
}