.presentation {
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 992px) {
  .presentation {
    height: 650px;
  }
}

@media (max-width: 768px) {
  .presentation {
    height: 550px;
  }
}
