.presentation {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  background-size: cover;
  background-position: 0 65%;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media(max-width: 992px) {
  .presentation {
    height: 650px;
  }
}

@media(max-width: 768px) {
  .presentation {
    height: 550px;
  }
}
