.presentation {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  background-size: cover;
  background-position: 0 65%;
  background-repeat: no-repeat;
  background-color: #bcbcbc;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
