.productsPagePage {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.productsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.productPageOpen {
  margin-top: 30px;
  width: 100%;
}