.item {
    /* height: 600px; */
    width: 30%;
    margin-bottom: 50px;
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative;
}

.img {
    height: 550px;
    width: 100%;
    transition: transform 500ms ease;
    cursor: pointer;
}

.img:hover {
    transform: scale(1.05);
}

.title {
    cursor: pointer;
    transition: transform, text-decoration 500ms ease;
}

.title,
.shortDesc {
    margin: 10px 20px;
    color: #212529;
}

.title:hover {
        transform: scale(1.02);
        text-decoration: underline;
}

.price {
    margin: 20px 20px;
    color: #5fa36a;
    font-weight: 600;
}

.addToCard {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

.addToCard:hover {
    transform: scale(1.5) translateY(-5px)
}