.price {
  margin: 0px 0px;
  color: black;
  font-weight: 500;
}

.discountContainer {
  display: flex;
  gap: 5px;
}

.oldPrice {
  color: silver;
  text-decoration: line-through;
}

.discountPrice {
  color: #d83030;
}
