.sale {
    /* background-image: url('/house-staff/img/sale/sale.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #f3c294ff; 
    position: relative;
    padding: 40px 0;
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.title {
    color: #D74F0E;
    font-weight: 600;
    font-size: 120px;
}

.desc {
    font-weight: 300;
    font-size: 40px;
   
}
