.title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    border-bottom: 1px solid silver;
}

.orderList {
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    list-style: none;
}

.orderItem {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
     margin-bottom: 10px;
    /* font-size: 18px; */
    font-weight: 400;
}
