.title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    border-bottom: 1px solid silver;
}

.orderList {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.orderItem {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 400;
}

.price {
    font-size: 15px;
    color: black;
    font-weight: 600;
}

.discountPrice {
    font-size: 15px;
    color:#d83030;
}

@media(max-width: 768px) {
    .title {
        font-size: 16px;
    }

    .orderList {
        font-size: 14px;
    }
}