.link {
    display: inline;
    margin-left: 25px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 500ms ease;
}

.activeLink,
.link:hover {
    opacity: 0.5;
}