.link {
    display: inline;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 500ms ease;
    font-weight: 500;
}

.activeLink,
.link:hover {
      color:rgba(181, 93, 25, 1);
}