.wrapper {
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.option {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 3px;
    font-size: 18px;
    font-weight: 400;
}
.radio {
    margin-right: 6px;
     width: 16px;
  height: 16px;
}