.button {
  display: inline-flex;
  align-items: center;

  border: none;

  margin: 10px 10px;
  padding: 15px 20px;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;

  cursor: pointer;
  transition: transform 0.2s ease;
  opacity: 1;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.97);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-width: 992px) {
  .button {
    font-size: 12px;
    padding: 12px 15px;
  }
}
