@use "@/variables" as v;

.nav {
  .desktopMenu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    gap: 25px;
    font-size: 14px;
  }

  .navIcons {
    display: flex;
    align-items: center;
    gap: 16px;

    svg {
      display: flex;
      line-height: 1;
      vertical-align: middle;
      font-weight: normal;
    }
  }

  .mobileMenu {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .burgerMenu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: transform 0.3s linear;
    background-color: rgba(v.$white, 0.9);
    backdrop-filter: blur(5px);
  }

  .burgerIcon {
    width: 22px;
    height: 22px;
    fill: currentColor;
  }

  .burgerList {
    position: absolute;
    top: 20px;
    width: 200px;
    background: v.$white;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding-inline-start: 0px;
    font-size: 14px;
    background-color: rgba(v.$white, 0.9);
    backdrop-filter: blur(5px);

    li {
      border-bottom: 1px solid v.$color-gray-light;
      width: 100%;
      padding: 12px 15px;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  @media (max-width: 768px) {
    .desktopMenu {
      display: none;
    }

    .mobileMenu {
      display: flex;
    }
  }

  @media (max-width: 576px) {
    .burgerList {
      top: 20px;
      right: -8px;
    }
  }
}
