.desktopMenu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  gap: 25px;
  font-size: 14px;
}

.navIcons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navIcons svg {
  display: flex;
  line-height: 1;
  vertical-align: middle;
  font-weight: normal;
}

.mobileMenu {
  display: none;
}

.burgerIcon {
  width: 22px;
  height: 22px;
  fill: currentColor;
}

.burgerMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: transform 0.3s linear;
}

.burgerList {
  position: absolute;
  top: 18px;
  width: 200px;
  background: #ffffff;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  padding-inline-start: 0px;
  font-size: 14px;
}

.burgerList li {
  border-bottom: 1px solid silver;
  width: 100%;
  padding: 12px 15px;
}

.burgerList li:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  .desktopMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .burgerList {
    top: 20px;
    right: -8px;
  }
}