.orderSuccess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    background-color: white;
}

.title{
    text-align: center;
}

@media(max-width: 768px) {
    .orderSuccess {
        width: 250px;
    }
}

@media(max-width: 576px) {
    .orderSuccess {
        width: 200px;
    }
    
    .title {
        font-size: 17px;
    }
}