.orderItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  /* grid-auto-flow: column; */
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-bottom: 20px;
  gap: 20px;
  padding: 20px 0;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.img {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.text {
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  color: #333;
  cursor: pointer;
  transition: all 0.5s ease;
}

.text:hover {
  color: rgba(167, 85, 23, 1);
}

.price {
  font-size: 14px;
  color: black;
  font-weight: 600;
}

.removeFromCard {
  font-size: 16px;
  color: black;
  cursor: pointer;
  transition:
    color,
    transform 500ms ease;
}

.removeFromCard:hover {
  color: #d83030;
  transform: scale(1.25) translateY(-2px);
}

.discountPrice {
  color: #d83030;
}

@media (max-width: 400px) {
  .text {
    font-size: 12px;
    margin: 0;
  }

  .price {
    font-size: 12px;
  }
}
