.hotspotButton {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50% ;
    color: white;
    border: none;
    opacity: 0.9;
    cursor: pointer;
    
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    animation: pulse 2s infinite;
    transition: transform 0.2s;
    z-index: 1;
}

@keyframes pulse {
    0% {transform: scale(1)}
    50% {transform: scale(1.2)}
    100% {transform: scale(1)}
}


