.nav {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    /* border-bottom: 2px solid silver */
    gap: 10px;
    padding: 20px;
    /* background-color: silver; */
    list-style: none;
}

