.ourshowroom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 750px;
    gap: 20px;
    background-color: rgba(236, 236, 231, 1);
    margin: 40px 0;
    overflow: hidden;
    /* padding: 40px; */
}

.text {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.title {
    color: rgba(114, 114, 36, 1);
    font-size: 50px;
}

.desc {
    font-size: 30px;
}

.img {
    height: 100%;
    width: 50%;
    transition: transform 500ms ease;
    object-fit: cover;
}

.img:hover {
    transform: scale(1.05);
}