.accountIcon {
    position: relative;
    top: -2px;
    display: inline;
    align-items: center;
    font-size: 25px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.active,
.accountIcon:hover {
    color: rgba(181, 93, 25, 1);
    transform: scale(1.2);
}