.accountIcon {
    font-size: 26px;
    text-decoration: none;
    cursor: pointer;
    transition: color 500ms ease;
}

.active,
.accountIcon:hover {
        color: rgba(221, 112, 29, 1);
}

@media(max-width: 992px) {
    .accountIcon {
        font-size: 22px;
    }
}