.button {
    align-items: center;
    justify-content: center;

    border: none;
    margin: 20px;
    padding: 20px 38px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    opacity: 1;
}

.button:hover {
    transform: scale(1.1);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}