.categoriesWrapper {
    position: relative;
    width: 100%;
}

.categories {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.popular {
    margin: 19px;
    font-size: 25px;
    font-weight: 300;
}