.shoppingCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 60px;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
font-style: italic;
    margin-bottom: 70px;
}

.stepSpan {
 display: flex;
 align-items: center;
 gap: 10px;
}

.activeStep {
      color:rgba(181, 93, 25, 1);
}

.emptyCard {
    margin-top: 200px;
}

.orderContent {
    display: flex;
    gap: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}