.shoppingCart {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

.emptyCard {
   margin-top: 200px;
}

.orderContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
