.shoppingCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 60px;
}

.emptyCard {
    margin-top: 200px;
}

.orderContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
