.shoppingCart {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

.orderContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media(max-width: 576px) {
   .orderContent {
    padding: 0;
   } 
}