@use "@/variables" as v;

.orderQuantity {
  position: absolute;
  text-align: center;

  right: 10px;
  top: 7px;
  width: 15px;
  height: 15px;
  font-size: 10px;

  background: v.$color-gray-extra-light;
  color: v.$color-black;
  border-radius: 50%;

  cursor: pointer;
  opacity: 0.9;

  @media (max-width: 768px) {
      right: 53px;
      top: 9px;
      font-size: 8px;
      width: 13px;
      height: 13px;
  }
}