.hotspotItem {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    -webkit-box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    -moz-box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    background: rgba(255, 255, 255, 0.9);
    color: black;
    backdrop-filter: blur(5px);
    z-index: 20;
    width: max-content;
    max-width: 220px;
    align-items: center;
    padding: 8px;
    padding-bottom: 0;
}
