.empyWishlist {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 20px;
  padding: 80px;
  gap: 20px;
}

.bagIcon {
  font-size: 70px;
  stroke-width: 0.8;
}

@media (max-width: 768px) {
  .empyWishlist {
    font-size: 18px;
    gap: 15px;
  }

  .bagIcon {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .empyWishlist {
    font-size: 16px;
    gap: 10px;
  }

  .bagIcon {
    font-size: 55px;
  }
}
