@use "@/variables" as v;

.nav {
  display: flex;
  justify-content: space-between;
  background: v.$color-peach-light;
  gap: 10px;
  padding: 14px 20px;
  list-style: none;

  @media (max-width: 576px) {
    flex-direction: column;
    gap: 20px;
  }
}
