.fullItem {
    position: relative;
    margin: 0 0px 30px 0px;
    justify-content: left;
    align-items: center;
    display: flex;
    gap: 30px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
}

.mainImg {
    width: 100%;
    max-width: 900px;
    height: auto;
    cursor: pointer;
}

.imgContainer {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 15px;
    width: 100%;
}

.img {
    width: 20%;
    aspect-ratio: 1/1;
    max-width: 180px;
    object-fit: cover;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease;
}

.img:hover {
    opacity: 1;
}


.closeBth:hover {
    border: 1px solid #ccc;
}

.title {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #333;
    cursor: pointer;
    transition: text-decoration 500ms ease;
}

.title svg {
  display: block;
  line-height: 1;
  vertical-align: middle;
  font-weight: normal;
}

.quantityContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.price {
    font-weight: 500;
}

.salePrice {
    color: red;
}

.labels {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15px;
    left: 15px;
}

.closeBth {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    width: 32px;
    height: 32px;
    font-size: 18px;
    color: #7c7b7bff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    transition: all 0.2s ease;
    z-index: 10;
}

@media(max-width: 992px) {
    .title {
        font-size: 20px;
        gap: 10px;
    }
    .desc {
        font-size: 14px;
    }
}