.fullItem {
    /* max-width: 1000px; */
    position: relative;
    margin: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 900px;
    width: 100%;
}

.mainImg {
    width: 100%;
    max-width: 900px;
    height: auto;
    cursor: pointer;
}

.smallContainer {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 15px;
}

.img {
    width: 20%;
    aspect-ratio: 1/1;
    max-width: 180px;
    object-fit: cover;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease;
}

.img:hover {
    transform: scale(1.1);
    opacity: 1;
}

.closeBth {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    width: 32px;
    height: 32px;
    font-size: 18px;
    color: #7c7b7bff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    transition: all 0.2s ease;
    /* border: 1px solid  #ccc; */
    z-index: 10;


}

.closeBth:hover {
    border: 1px solid #ccc;
    /* 👈 тепер просто міняється колір */
    background-color: #f8f8f8;
}

.container {
    position: relative;
}

.title {
    font-size: 35px;
    margin: 10px 20px;
    color: #333;
    cursor: pointer;
    transition: text-decoration 500ms ease;
}

.quantityContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 20px;
}

.quantity {
    width: 80px;
    height: 40px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 20px;
    padding: 10px 0;
    transition: border-color 0.2 ease;
    line-height: 50px;
}

.quantity:focus {
    border-bottom-color: black ;
}

.desc {
    margin: 10px 20px;
    color: #333;
    font-size: 20px;
}

.title:hover {
    text-decoration: underline;
}

.price {
    margin: 20px 20px;
    color: #5fa36a;
    font-weight: 600;
    font-size: 18px;
}
