.itemPage {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid silver;
    border-radius: 0 0 16px 16px;
    z-index: 10;
    padding: 0px 0px 0px 0px;
    animation: slideDown 0.35s ease forwards;
}