.orderModal {
    position: fixed;
    top: 63px;
    right: 0;
    width: 450px;
    box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    -webkit-box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    -moz-box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    z-index: 2000;

    padding: 20px;
    padding-bottom: 0;
}

