.shopCard {
    position: absolute;
    top: 55px;
    right: 0;
    width: 450px;
    background-color: #f5f5f5;
    box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    -webkit-box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    -moz-box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    z-index: 1000;

    padding: 20px;
    padding-bottom: 0;
}