.accountIcon {
  font-size: 26px;
  text-decoration: none;
  cursor: pointer;
  transition: color 500ms ease;
}

.active,
.accountIcon:hover {
  color: #DD701D;
}

@media (max-width: 992px) {
  .accountIcon {
    font-size: 22px;
  }
}
