@use "@/variables" as v;

.logout {
  display: inline-flex;
  color: v.$color-black;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: v.$color-red-600;
  }

  .icon {
    position: relative;
    top: 4px;
  }
}
