.logout {
    display: inline;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

.logout:hover {
    color: rgba(181, 93, 25, 1);
}

.icon {
    position: relative;
    top: 4px;
}