.scrollButtonX {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 10;
    
    background-color: white;
    color: #222;
    transition: all 500ms ease;
}

.disabled {
   display: none;
}

.scrollButtonX:hover {
    background-color: rgba(165, 84, 22, 0.9);
    color: white;
}

.left{
    left: 50px;
}

.right{
    right: 50px;
}
