.wrap {
   border: 1px solid #69727D;
   padding: 20px;
}

.checkoutSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
    padding: 5px;
}