.wrap {
   border: 1px solid #69727D;
   padding: 20px;
   margin: 20px;
}

.checkoutSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid silver;
    padding: 5px;
}

@media(max-width: 768px) {
    .checkoutSection {
        font-size: 16px;
    }
}