.wrapper {
    width: 100%;
    color: #333;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-bottom: 20px;
}

.title {
    text-align: center;
    font-weight: 600;
    color: #222;
    margin-bottom: 20px;
}

.checkoutSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid silver;
    padding: 5px;
}

@media(max-width: 992px) {
    .title {
        font-size: 22px;
    }
}