.items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 100%;
    justify-content: center;
}

@media (max-width: 576px) {
    .items {
        grid-template-columns: 1fr;
    }
}