.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 20px;
}

.stepSpan {
    display: flex;
    align-items: center;
    gap: 10px;
}

.activeStep {
    color: rgba(181, 93, 25, 1);
}

@media(max-width: 576px) {
    .steps {
   
    gap: 8px;
}

    .stepSpan {
        font-size: 14px;
    gap: 8px;

    }

    .stepSpan svg {
        width: 16px;
    }
}