.mainPageContainer {
    display:grid;
    gap: 20px;
}

/* .desc {
    font-style: italic;
    font-size: larger;
    text-align: center;
    font-weight: 300;
    padding-bottom: 10px;
    margin-left: 20px;
    line-height: 30px;
    border-bottom: 1px solid rgba(52, 48, 48, 0.5);
    margin: 0 auto;   
} */
