.subtotalSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid silver;
    padding: 5px;
}

@media(max-width: 768px) {
    .subtotalSection {
        font-size: 16px;
    }
}