.subtotalSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid silver;
  padding: 5px;
}

.price {
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.oldPrice {
  font-size: 14px;
  color: silver;
  text-decoration: line-through;
}

.discountPrice {
  font-size: 14px;
  color: #d83030;
}

@media (max-width: 768px) {
  .subtotalSection {
    font-size: 16px;
  }
}
