.orderItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.quantity {
    width: 60px;
    height: 30px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 20px;
    padding: 10px 0;
    transition: border-color 0.2 ease;
    line-height: 50px;
}

.text {
    font-size: 25px;
    margin: 0 10px;
    /* margin-bottom: 10px; */
    color: #333;
    cursor: pointer;
}

.text:hover {
     color:rgba(167, 85, 23, 1);
}

.price {
    margin-top: 10px;
    font-size: 20px;
    color: green;
    font-weight: 600;
}

.removeFromCard {
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.removeFromCard:hover {
    color: #d83030;
    transform: scale(1.25) translateY(-2px)
}