.orderItem {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.img {
    width: 70px;
    float: left;
    margin-right: 20px;
    transition: transform 500ms ease;
}

.img:hover {
    transform: scale(1.05);
}

.text {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.price {
    color: #5fa36a;
    font-weight: 600;
}

.removeFromCard {
    float: right;
    position: relative;
    top: -25px;
    color: #ca5252;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.removeFromCard:hover {
    color: #d83030;
    transform: scale(1.25) translateY(-2px)
}