.orderItem {
    display: grid;
    grid-template-columns: 190px auto 80px auto 40px;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;
    padding: 20px 0;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 200px;
}

.img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    cursor: pointer;
}

.quantity {
    width: 60px;
    height: 30px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    padding: 10px 0;
    transition: border-color 0.2 ease;
    line-height: 50px;
}

.text {
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    color: #333;
    cursor: pointer;
    transition: all 0.5s ease;
}

.text:hover {
    color: rgba(167, 85, 23, 1);
}

.price {
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.removeFromCard {
    font-size: 16px;
    color: black;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.removeFromCard:hover {
    color: #d83030;
    transform: scale(1.25) translateY(-2px)
}
