.orderItem {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.img {
    width: 70px;
    float: left;
    margin-right: 20px;
    transition: transform 500ms ease;
}

.img:hover {
    transform: scale(1.05);
}

.text {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.price {
    color: #5fa36a;
    font-weight: 600;
}

.removeFromCard {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #a9a4a4ff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #f4efefff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

.removeFromCard:hover {
    transform: scale(1.05) translateY(-2px)
}