.loginModal {
    position: absolute;
    top: 70px;
    right: 0;
    width: 450px;
    box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    -webkit-box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    -moz-box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    text-align: center;
    font-size: 11px;
    z-index: 200;

    padding: 30px;
}

.googleIcon {
    position: relative;
    top: 2px
}

.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
    border: none;
    margin: 20px;
    padding: 20px 38px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.googleButton:hover {
    transform: scale(1.1);
}

@media(max-width: 768px) {
    .loginModal {
        top: 66px;
    }
}