.collectionItem {
    position: relative;
    flex: 0 0 20em;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-shrink: 0;
}

.img {
    height: 970px;
    width: auto;
    object-fit: cover;
}


.title {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    font-weight: 600;
}