.quantityInput {
   width: 40px;
    /* width: 100%; */
    height: 30px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    padding: 10px 0;
    transition: border-color 0.2 ease;
    background: transparent;

}

.quantityInput:focus {
    border-color: black;
}