.quantityInput {
     width: 60px;
    height: 30px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 20px;
    padding: 10px 0;
    transition: border-color 0.2 ease;
    line-height: 50px;
}

.quantityInput:focus {
    border-color: black ;
}