.wishlistItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid silver;
    gap: 20px;
}

.itemInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapOne {
    display: flex;
    gap: 40px;
    align-items: center;
}


.img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    cursor: pointer;
}

.text {
    margin: 0 10px;
    margin-bottom: 10px;
    color: #333;
    cursor: pointer;
    transition: all 0.5s ease;
}

.text:hover {
    color: rgba(167, 85, 23, 1);
}

.price {
    color: black;
    font-weight: 500;

}

.closeBth {
    text-align: center;

    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    opacity: 0.8;
}

.closeBth:hover {
    opacity: 1;
}