.header {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;

  border-bottom: 1px solid silver;
  background: #ffffffe6;
  opacity: 0.9;
  backdrop-filter: blur(5px);

  transition: transform 0.3s ease;
  z-index: 20;
  padding: 0px 20px;
}

.headerHidden {
  transform: translateY(-100%);
}

.headerVisible {
  transform: translateY(0);
}

.logo {
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
  transition: color 500ms ease;
}

.logo:hover {
  color: #DD701D;
}

@media(max-width: 768px) {
  .header{
    padding: 5px 20px;
  }
}