.collectionItem {
    position: relative;
    flex: 0 0 20em;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.img {
    height: 85%;
    width: auto;
    object-fit: cover;
}


.title {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    font-weight: 600;
}