.header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2000;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
}

.logo {
    font-weight: 600;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
