

.logo {
    font-weight: 600;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.presentation {
    margin: 50px 0;
    background: url('/img/living-room.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

.presentation::after {
    content: 'Najlepsze dla domu';
    position: absolute;
    top: 100px;
    left: 60px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.presentation::before {
    content: 'Niskie ceny';
    position: absolute;
    top: 210px;
    left: 60px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}