.item {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    margin-bottom: 50px;
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 600px;
}

.disableItem {
    opacity: 0.5 ;
}

.img {
    height: 700px;
    /* width: 100%; */
    object-fit: cover;
    object-position: center;
    transition: transform 500ms ease;
    cursor: pointer;
}

.img:hover {
    transform: scale(1.05);
}

.title {
    text-align: left;
    padding-top: 20px;
    cursor: pointer;
    transition: transform, text-decoration 500ms ease;
}

.title,
.shortDesc {
    margin: 10px 20px;
    color: #212529;
}

.title:hover {
        transform: scale(1.02);
        text-decoration: underline;
}

.price {
    margin: 20px 20px;
    color: #5fa36a;
    font-weight: 600;
}

.addToCard {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: black;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
    opacity: 0.8;
}

.addToCard:hover {
    transform: scale(1.3) translateY(-5px);
    opacity: 1;
}
