.item {
    position: relative;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.disableItem {
    opacity: 0.5;
}

.img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    object-position: center;
    transition: transform 500ms ease;
    cursor: pointer;
}

.img:hover {
    transform: scale(1.05);
}

.wishlistButton {
    position: absolute;
    right: 20px;
    bottom: 100px;
    display: flex;
    align-items: right;
    cursor: pointer;
    font-size: 25px;
    transition: all 500ms ease;
    opacity: 0.8;
}

.wishlistButton:hover {
    opacity: 1;
    color: rgba(221, 112, 29, 1);
}

.productInformation {
    text-align: left;
    padding-top: 20px;
    margin: 10px 20px;
    font-size: 14px;
}

.title {
    font-weight: 500;
    cursor: pointer;
}

.categoryTitle {
    font-weight: 300;
}

.price {
    color: black;
    font-weight: 400;
}

.salePrice {
    color: red;
}

.addToCard {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: black;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: all 500ms ease;
    opacity: 0.7;
}

.addToCard:hover {
    opacity: 1;
}

.labels {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15px;
    left: 15px;
}