.shopingCardIcon {
  position: relative;
  font-size: 23px;
  cursor: pointer;
  transition: color 500ms ease;
}

.active,
.shopingCardIcon:hover {
  color: #dc3d3d;
}

@media(max-width: 992px) {
    .shopingCardIcon {
        font-size: 20px;
    }
}