.link {
    display: inline;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: color 500ms ease;
    font-weight: 500;
}

.activeLink,
.link:hover {
         color: #dd701d;
}