
.background {
    background-image: url("/img/contact/contact.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #f3c294ff;
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-size: 45px;
    font-weight: 400;
}

@media(max-width:1200px) {
    .text {
        font-size: 40px;
    }
}

@media(max-width: 992px) {
    .text {
        font-size: 33px;
    }
}