.makeLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap: 20px;
  padding: 0 20px;
}

.title {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 576px) {
  .makeLogin {
    font-size: 20px;
    gap: 10px;
  }
}
