@use "@/mixins" as m;

.makeLogin {
  @include m.flex-center(column);

  min-height: 60vh;
  gap: 20px;
  padding: 0 20px;

  .title {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }

  @media (max-width: 576px) {
    gap: 20px;

    .title {
      font-size: 19px;
    }
  }
}
