.orderModal {
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  max-width: 580px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: 10px 11px 11px -2px #CEC6C6C9;
  background: #FFFFFFE6;
  backdrop-filter: blur(5px);

  font-size: 11px;
  z-index: 30;
}

@media (max-width: 992px) {
  .orderModal {
    width: 90%;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .orderModal {
    top: 46px;
  }
}

@media (max-width: 576px) {
  .orderModal {
    max-width: 100%;
    width: 100%;
    padding: 5px;
  }
}
/* 
@media (max-width: 400px) {
  .orderModal {
    max-width: 100dvh;
    width: 100dvh;
    padding: 5px;
  }
} */