.orderModal {
    position: fixed;
    top: 73px;
    right: 0;
    width: 100%;
    max-width: 580px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    
    font-size: 11px;
    z-index: 20;
}

@media(max-width: 992px) {
    .orderModal {
        width: 90%;
        padding: 15px;
    }
}


@media(max-width: 768px) {
    .orderModal {
        top: 66px;
    }
}

@media (max-width: 576px) {
    .orderModal {
        max-width: 400px;
        width: 100vw;
        max-width: 100vw;
        height: auto;
        margin: 0;
    }
}
