.hotspotItem,
.productNotFound {
    position: absolute;
    display:grid;
    grid-template-columns: 40% 1fr auto;
    align-items: center;
    justify-content: flex-start;
    top: 50%;
    left: 35px;
    transform: translateY( -50%);
    background: #fff;
    z-index: 10;

    width: 300px;
    cursor: pointer;   
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text {
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
}

.price{
    margin-top: 4px ;
    font-size: 16px;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
