.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.title {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #212529;
  cursor: pointer;
  transition: all 500ms ease;
  font-family: "Inter", sans-serif;
}

.title:hover {
  color: rgba(221, 112, 29, 1);
}
