.categoryItem {
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
}

.title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.title:hover {
    color:rgba(165, 84, 22, 1);
}