.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 230px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.contentColor1 {
  color: #dd701d;
}

.active {
  opacity: 1;
}

.title {
  font-family:"Cormorant", serif;
  font-size: 85px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1.1;
}

.desc {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .content {
    top: 240px;
  }

  .title {
    font-size: 60px;
  }

  .desc {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .content {
    top: 210px;
    width: 90%;
  }

  .title {
    font-size: 50px;
    letter-spacing: 1px;
  }

  .desc {
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .content {
    top: 200px;
    width: 90%;
  }

  .title {
    font-size: 40px;
    letter-spacing: 1px;
  }

  .desc {
    font-size: 13px;
    margin-top: 0px;
  }
}
