.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 65%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 230px;
  left: 50%;
  transform: translateX(-50%); 
  justify-content:center;
  text-align: center;
  align-items: center;
  color: white;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.contentColor1 {
  color:rgba(221, 112, 29, 1);
}

.active {
  opacity: 1;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 90px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1.1;
}


.desc {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
