.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid silver;
  padding: 40px 0;
  gap: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  cursor: pointer;
  font-weight: 500;
  gap: 12px;
  font-size: 14px;
  padding: 0;
}

.info li {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  transition: color 0.3s ease;
}

.info a {
  color: inherit;
  text-decoration: none;
}

.info li:hover,
.info a:hover {
  color: #dd701d;
}
.time {
  cursor: auto;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 22px;
}

.socials a {
  color: inherit;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.socials a:hover {
  color: #dd701d;
  transform: scale(1.1);
}

.contact {
  font-size: 22px;
  padding: 10px 0;
  cursor: pointer;
}

.rights {
  font-size: 14px;
}
