.orderQuantity {
  position: absolute;
  text-align: center;

  right: 8px;
  top: 26px;
  width: 15px;
  height: 15px;
  font-size: 10px;

  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 50%;

  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .orderQuantity {
    right: 50px;
    top: 17px;
    font-size: 8px;
    width: 13px;
    height: 13px;
  }
}
