.orderQuantity {
  position: absolute;
  text-align: center;

  right: 10px;
  top: 7px;
  width: 15px;
  height: 15px;
  font-size: 10px;

  background: #f6f6f6;
  color: black;
  border-radius: 50%;

  cursor: pointer;
  transition: transform 500ms ease;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .orderQuantity {
    right: 53px;
    top: 9px;
    font-size: 8px;
    width: 13px;
    height: 13px;
  }
}
