.footer {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  margin-top: 20px ;
  text-align: center;
  gap: 15px;
  border-top: 1px solid silver;
}


.info {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 7px;
  cursor: pointer;


}

.info a {
  color: inherit;
  text-decoration: none;
}

.info li:hover,
.info a:hover {
  color: rgba(181, 93, 25, 1);
}
.time {
  cursor: auto;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* odstęp między ikonami */
  font-size: 30px; /* rozmiar ikon */
}

.socials a {
  color: inherit;
  transition: color 0.3s ease, transform 0.3s ease;
}

.socials a:hover {
  color: rgba(181, 93, 25, 1); /* twój kolor hover */
  transform: scale(1.1); /* lekki efekt powiększenia przy hover */
}

.contact {
  font-weight: 600;
  font-size: 35px;
  cursor: pointer;
  padding-bottom: 10px;
}

.rights{
  font-weight: 300;
}