.formContainer {
    display: flex;
    align-items: center;
    margin: 60px 60px;
}

.userForm {
    max-width: 900px;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #222;
    margin-bottom: 10px;
}

.subTitle{
    margin-bottom: 10px;
}
.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.label {
    font-weight: 600;
    color: #333;
}

.input {
    margin-top: 6px;
    padding: 10px 4px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    transition: 0.2s;
}

.input:focus {
    border-bottom-color: #000;
}

.input[readonly] {
    opacity: 0.7;
    cursor: not-allowed;
    border-bottom: none;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top:30px;
}