.categories {
    display: flex;
    list-style: none;
}

.categoryTitle {
    background-color: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}

.categoryTitle:hover {
    border-color: silver;
    transform: scale(1.1);
}