.categories {
    padding: 20px ;
    margin-bottom: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 80px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.categoryTitle {
    font-size:larger;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms ease;
}

.categoryTitle:hover {
    transform: scale(1.1);
    color: rgba(221, 112, 29, 1);
}

.saleCategory {
    color: rgb(211, 4, 4);
}

.saleCategory:hover {
    color: red;
}