.orderModal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75px;
    right: 0;
    width: 100%;
    max-width: 580px;
    box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    -webkit-box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    -moz-box-shadow: 10px 11px 11px -2px rgba(206, 198, 198, 0.79);
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    text-align: center;
    font-size: 11px;
    z-index: 2000;

}

@media(max-width: 992px) {
    .orderModal {
        width: 90%;
        padding: 15px;
    }
}