.collectionWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #fff;
    overflow-y: hidden;
    width: 100%;
    z-index: 1;
}


.collection {
    display: flex;
    width: 100%;
    overflow-y: hidden;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 40px;
    list-style: none;
    scroll-snap-type: x mandatory;
    align-items: flex-start;
}

@media(max-width:992px) {
    .collection {
        gap: 18px
    }
}

@media(max-width:568px) {
    .collection {
        gap: 12px;
    }
}

@media(max-width:400px) {
    .collection {
        gap: 0px;
    }
}