.showOrderWrapper {
  margin-bottom: 20px;
}

.orderList::-webkit-scrollbar {
  width: 6px;
}

.orderList::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.orderList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cartTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-weight: 600;
}

.clearButton {
  color: white;
  background-color: black;
  border-style: none;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  padding: 6px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.clearButton:hover {
  transform: scale(1.1);
}

.subtotal {
  padding: 20px
}

.googleIcon {
  position: relative;
  top: 2px
}