$white: #fff;
$dark: #212529;

$color-gray-extra-light: #f6f6f6;
$color-gray-light: #ccc;
$color-gray-dark: #69727d;
$color-black: #000;

$color-peach-light: #f8e1c5;
$color-peach: #f3c294ff;
$color-accent: #dd701d;
$color-accent-dark: #a55416;
$color-accent-red: #d83030;
$color-red-vibrant: #ff0000;
$color-accent-brown: #a52a2a;
$color-accent-olive-light: #796f51;
$color-accent-olive: #59523c;

$body-bg: $white;
$body-text: $dark;

$border-color: $color-gray-light;
$old-price-color: $color-gray-light;
$border-focus-color: $color-black;
