@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 10px;
}

