@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background:#fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

header {
    position: relative;
}

footer {
  text-align: center;
  left: 100px;
}