@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: #fff;
  color: #222;
  overflow-x: hidden;
  line-height: 1.4;
}

html, body, #root {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}