@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background: #fff;
  color: #222;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
