.orderComplete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
}

@media(max-width: 768px) {
    .orderComplete {
        width: 250px;
    }
}

@media(max-width: 576px) {
    .orderComplete {
        width: 200px;
    }
    
    .title {
        font-size: 17px;
    }
}