.orderComplete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
}

@media(max-width: 768px) {
    .orderComplete {
        width: 250px;
    }
}