.makeLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 400;
    height: 500px;
    gap: 20px;
}

@media(max-width: 576px) {
    .makeLogin {
        font-size: 20px;
        gap: 10px;
    }
}