.horizontalScrollButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 10;
    
    background-color: white;
    color: #222;
    transition: all 500ms ease;
}

.icon {
  width: 30px;
  height: 30px;
  stroke: currentColor;
  stroke-width: 1;
  fill: none;
}

.disabled {
   display: none;
}

.scrollButtonX:hover {
    background-color: rgba(165, 84, 22, 0.9);
    color: white;
}

.left{
    left: 50px;
}

.right{
    right: 50px;
}

@media(max-width: 992px) {
    .horizontalScrollButton {
        width: 40px;
        height: 40px;
    }
    .icon {
        width: 20px;
        height: 20px
    }
    .left {
        left: 20px;
    }
    .right {
        right: 20px;
    }
}

@media(max-width: 576px) {
    .horizontalScrollButton {
        width: 35px;
        height: 35px;
    }
    .icon {
        width: 18px;
        height: 18px
    }
    .left {
        left: 10px;
    }
    .right {
        right: 10px;
    }
}