.collectionItem {
    position: relative;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-shrink: 0;
}

.img {
    max-width: 1350px;
    height: auto;
    width: auto;
    object-fit: center;
    object-position: center;
}


.title {
    position: absolute;
    top: 44px;
    left: 40px;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .img {
        max-width: 900px;
    }
}

@media (max-width: 992px) {
    .img {
        max-width: 700px;
        height: 550px;
        object-fit: cover;
    }

    .title {
        font-size: 18px;
        top: 25px;
        left: 25px;
    }
}

@media (max-width: 768px) {
    .img {
        max-width: 650px;
        height: 500px;
        object-fit: cover;
    }

    .title {
        font-size: 18px;
        top: 25px;
        left: 25px;
    }
}

@media (max-width: 576px) {
    .img {
        max-width: 510px;
        height: 470px;
        object-fit: cover;
    }

    .title {
        font-size: 18px;
        top: 25px;
        left: 25px;
    }
}
