.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f3;
    margin: 50px 0 0 0;
    padding: 80px 20px;
}

.form {
    background: transparent;
    max-width: 900px;
    width: 100%;
    text-align: center;
    
}

.title {
    font-size: 25px;
    font-weight: 500;
    color: #525151ff;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;

}

.inputBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 20px;
    text-align: left;
    margin-bottom: 30px;
}

.messageTitle {
    grid-column: 1 / 3;
    font-weight: 500;
    color: #111;
}

.field {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    background-color: transparent;
    outline: none;
    width: 100%;

    font-size: 16px;
}

.field::placeholder {
    color: #717171ff;
}

.field:focus {
    border-color: #000;
}

.textarea {
    resize: none;
    height: 100px;
    grid-column: 1 / 3;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: inherit;
    line-height: 1.5;
}

.result {
    display: flex;
    align-items: baseline;
    gap: 6px;
    font-weight: 500;
}

.success {
    color: #35ca7b;
}

.success::before {
    content: "✔ ";
    color: #35ca7b;
    line-height: 1;
    font-size: 17px;
    align-items: center;
}

.error {
    color: #e34747;
}

.error::before {
    content: "✖ ";
    color: #e34747;
    line-height: 1;
    font-size: 17px;
    align-items: center;
}

@media(max-width:992px) {
    .form {
        max-width: 800px;
    }

    .title {
        font-size: 21px;
        font-weight: 500;
        color: #525151ff;
        margin-bottom: 10px;
    }
}