.container {
  min-height: 700px;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.text {
  text-align: center;
  font-weight: 500;
}

.error {
  font-size: 60px;
}
