.shopingCardIcon {
    display: inline;
    margin-left: 25px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.active,
.shopingCardIcon:hover {
    color: #dc3d3d;
    transform: scale(1.5);
}

