.desktopCategories {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid silver;
}

.mobileCategories {
  display: none;
}

.category {
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease;
}

.category:hover {
  color: #dd701d;
}

.saleCategory {
  color: #d30404;
}

.saleCategory:hover {
  color: red;
}

.categoryButton {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  width: 100%;
  padding: 12px 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease;
}

.categoryButton:hover {
  color: #dd701d;
}

.icon {
  position: relative;
  top: 4px;
  width: 22px;
  height: 22px;
  fill: currentColor;
}

@media (max-width: 1200px) {
  .desktopCategories {
    display: none;
  }

  .mobileCategories {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s linear;
    margin-bottom: 20px;
    justify-content: center;
    padding: 0;
  }

  .mobileCategory {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms ease;
    border-bottom: 1px solid silver;
  }

  .mobileCategory:hover {
    color: rgba(221, 112, 29, 1);
  }

  .saleCategory:hover {
    color: red;
  }
}

@media (max-width: 768px) {
  .icon {
    top: 7px;
    width: 18px;
    height: 18px;
  }
}
