.formContainer {
    display: flex;
    align-items: center;
}

.addressForm {
    min-width: 900px;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #222;
    margin-bottom: 20px;
}

.subTitle{
    margin-bottom: 10px;
}

.inputGroup {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
    font-weight: 600;
}

.input {
    margin-top: 6px;
    padding: 10px 4px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    transition: 0.2s;
}

.input:focus {
    border-bottom-color: #000;
}

.textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    resize: none;
    grid-column: 1 / 3;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: inherit;
    line-height: 1.5;
    font-size: inherit;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top:30px;
}

