.orderQuantity{
    position: absolute;
    right: 10px;
    top: 22px;
    background: white;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    color: black;
    border: 1px solid black ;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
    opacity: 0.8;
}